In [1]:
import json
import os
print(os.path.abspath('.'))

import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
DTC = pd.read_csv('DtcDrugTargetInteractions.csv')
DTC.head()

/root/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,1,2,3,8,14,21,22,23,24,25,26,27,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,compound_id,standard_inchi_key,compound_name,synonym,target_id,target_pref_name,gene_names,wildtype_or_mutant,mutation_info,pubmed_id,...,compound_concentration_value_unit,substrate_type,substrate_relation,substrate_value,substrate_units,assay_description,title,journal,doc_type,annotation_comments
0,CHEMBL3545284,NaN,CERDULATINIB,NaN,Q9Y4K4,MITOGEN-ACTIVATED PROTEIN KINASE KINASE KINASE...,MAP4K5,NaN,NaN,29191878.0,...,NM-UM,NaN,NaN,NaN,NaN,LC-MS/MS BASED KINOBEADS COMPETITIVE PULL-DOWN...,THE TARGET LANDSCAPE OF CLINICAL KINASE DRUGS,SCIENCE,NaN,NaN
1,CHEMBL3545284,NaN,CERDULATINIB,NaN,Q9Y478,"AMP-ACTIVATED PROTEIN KINASE, BETA-1 SUBUNIT",PRKAB1,NaN,NaN,29191878.0,...,NM-UM,NaN,NaN,NaN,NaN,LC-MS/MS BASED KINOBEADS COMPETITIVE PULL-DOWN...,THE TARGET LANDSCAPE OF CLINICAL KINASE DRUGS,SCIENCE,NaN,NaN
2,CHEMBL3545284,NaN,CERDULATINIB,NaN,Q9Y2U5,MITOGEN-ACTIVATED PROTEIN KINASE KINASE KINASE 2,MAP3K2,NaN,NaN,29191878.0,...,NM-UM,NaN,NaN,NaN,NaN,LC-MS/MS BASED KINOBEADS COMPETITIVE PULL-DOWN...,THE TARGET LANDSCAPE OF CLINICAL KINASE DRUGS,SCIENCE,NaN,NaN
3,CHEMBL3545284,NaN,CERDULATINIB,NaN,Q9Y2K2,SERINE/THREONINE-PROTEIN KINASE SIK3,SIK3,NaN,NaN,29191878.0,...,NM-UM,NaN,NaN,NaN,NaN,LC-MS/MS BASED KINOBEADS COMPETITIVE PULL-DOWN...,THE TARGET LANDSCAPE OF CLINICAL KINASE DRUGS,SCIENCE,NaN,NaN
4,CHEMBL3545284,NaN,CERDULATINIB,NaN,Q9UL54,SERINE/THREONINE-PROTEIN KINASE TAO2,TAOK2,NaN,NaN,29191878.0,...,NM-UM,NaN,NaN,NaN,NaN,LC-MS/MS BASED KINOBEADS COMPETITIVE PULL-DOWN...,THE TARGET LANDSCAPE OF CLINICAL KINASE DRUGS,SCIENCE,NaN,NaN

In [4]:
print(list(DTC))

['compound_id', 'standard_inchi_key', 'compound_name', 'synonym', 'target_id', 'target_pref_name', 'gene_names', 'wildtype_or_mutant', 'mutation_info', 'pubmed_id', 'standard_type', 'standard_relation', 'standard_value', 'standard_units', 'activity_comment', 'ep_action_mode', 'assay_format', 'assaytype', 'assay_subtype', 'inhibitor_type', 'detection_tech', 'assay_cell_line', 'compound_concentration_value', 'compound_concentration_value_unit', 'substrate_type', 'substrate_relation', 'substrate_value', 'substrate_units', 'assay_description', 'title', 'journal', 'doc_type', 'annotation_comments']

In [5]:
DTC2 = DTC.drop(['standard_inchi_key','compound_name','gene_names','pubmed_id', 'synonym', 'target_pref_name', 'wildtype_or_mutant', 'mutation_info', 'activity_comment', 'ep_action_mode','assaytype', 'assay_subtype', 'inhibitor_type', 'detection_tech', 'assay_cell_line', 'substrate_type', 'substrate_relation', 'substrate_value', 'substrate_units', 'assay_description', 'title', 'journal', 'doc_type', 'annotation_comments'], axis=1)

In [6]:
print(list(DTC2))

['compound_id', 'target_id', 'standard_type', 'standard_relation', 'standard_value', 'standard_units', 'assay_format', 'compound_concentration_value', 'compound_concentration_value_unit']

In [15]:
DTC2[3700:3710]

,compound_id,target_id,standard_type,standard_relation,standard_value,standard_units,assay_format,compound_concentration_value,compound_concentration_value_unit
3858,CHEMBL553,"Q15303, P21860, P04626, P00533",Ki,=,136.000000,NM,NaN,NaN,NaN
3859,CHEMBL553,"Q15303, P21860, P04626, P00533",IC50,=,68.000000,NM,NaN,NaN,NaN
3860,CHEMBL553,Q15303,KD,=,230.000000,NM,biochemical,10,uM
3861,CHEMBL553,Q15303,KI,=,1258.000000,NM,biochemical,"3-10,000",NM
3862,CHEMBL553,Q15303,ACTIVITY,=,61.410101,%,biochemical,500,NM
3863,CHEMBL553,Q15303,IC50,=,1130.000000,NM,NaN,NaN,NaN
3864,CHEMBL553,Q15303,Inhibition,=,78.000000,%,NaN,NaN,NaN
3865,CHEMBL553,Q15303,KI,=,1258.930000,NM,NaN,NaN,NaN
3866,CHEMBL553,Q15208,KD,>,10000.000000,NM,biochemical,10,uM
3867,CHEMBL553,Q15208,ACTIVITY,=,101.091222,%,biochemical,500,NM

In [10]:
DTC2 = DTC2[DTC2['standard_value'].notnull()]

In [11]:
DTC2.shape

(5602250, 9)

In [12]:
DTC3 = DTC2[DTC2['standard_type'] == 'KD']

In [13]:
DTC3.shape

(74924, 9)

In [16]:
DTC3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74924 entries, 216 to 5980810
Data columns (total 9 columns):
compound_id                          72596 non-null object
target_id                            73790 non-null object
standard_type                        74924 non-null object
standard_relation                    74911 non-null object
standard_value                       74924 non-null float64
standard_units                       74775 non-null object
assay_format                         31801 non-null object
compound_concentration_value         28183 non-null object
compound_concentration_value_unit    28184 non-null object
dtypes: float64(1), object(8)
memory usage: 5.7+ MB

In [17]:
data_DTC = DTC3

In [18]:
data_DTC = data_DTC[data_DTC['compound_id'].notnull()]
data_DTC = data_DTC[data_DTC['target_id'].notnull()]
data_DTC = data_DTC[data_DTC['standard_type'].notnull()]
data_DTC = data_DTC[data_DTC['standard_value'].notnull()]

In [19]:
data_DTC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72020 entries, 216 to 5977267
Data columns (total 9 columns):
compound_id                          72020 non-null object
target_id                            72020 non-null object
standard_type                        72020 non-null object
standard_relation                    72007 non-null object
standard_value                       72020 non-null float64
standard_units                       71871 non-null object
assay_format                         30594 non-null object
compound_concentration_value         27107 non-null object
compound_concentration_value_unit    27108 non-null object
dtypes: float64(1), object(8)
memory usage: 5.5+ MB

In [20]:
data_DTC.head()

,compound_id,target_id,standard_type,standard_relation,standard_value,standard_units,assay_format,compound_concentration_value,compound_concentration_value_unit
216,CHEMBL135581,P00374,KD,=,0.5,NM,NaN,NaN,NaN
217,CHEMBL135581,P00374,KD,=,0.6,NM,NaN,NaN,NaN
218,CHEMBL135581,P00374,KD,=,450.0,NM,NaN,NaN,NaN
219,CHEMBL135581,P00374,KD,=,1000.0,NM,NaN,NaN,NaN
220,CHEMBL135581,P00374,KD,=,1200.0,NM,NaN,NaN,NaN

In [21]:
data_DTC = data_DTC[['compound_id','target_id','standard_type','standard_relation','standard_value','standard_units']]

In [22]:
data_DTC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72020 entries, 216 to 5977267
Data columns (total 6 columns):
compound_id          72020 non-null object
target_id            72020 non-null object
standard_type        72020 non-null object
standard_relation    72007 non-null object
standard_value       72020 non-null float64
standard_units       71871 non-null object
dtypes: float64(1), object(5)
memory usage: 3.8+ MB

In [33]:
data_DTC.to_csv('data_DTC.csv')

In [ ]:
#-----

In [4]:
data = pd.read_csv('data_DTC.csv')
data.head()

,Unnamed: 0,compound_id,target_id,standard_type,standard_relation,standard_value,standard_units
0,216,CHEMBL135581,P00374,KD,=,0.5,NM
1,217,CHEMBL135581,P00374,KD,=,0.6,NM
2,218,CHEMBL135581,P00374,KD,=,450.0,NM
3,219,CHEMBL135581,P00374,KD,=,1000.0,NM
4,220,CHEMBL135581,P00374,KD,=,1200.0,NM

In [5]:
data2 = data['target_id']
data2.head()

0    P00374
1    P00374
2    P00374
3    P00374
4    P00374
Name: target_id, dtype: object

In [6]:
#used for ID mapping on UniProt

data2.to_csv('data_target.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.